.App {
    font-family: sans-serif;
    text-align: center;
}

.search-input {
    width: 500px;
    padding: 5px;
}

.result-container {
    width: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    max-height: 500px;
    overflow-y: scroll;
}

.result {
    display: block;
    padding: 5px;
}

.result:hover {
    background-color: rgb(206, 191, 191);
    cursor: pointer;
}

.active {
    background-color: #007bff;
    color: white;
}